<div class="message">
  <div class="message-head">
    <div class="user-name">
      <%= message.user.name %>
    </div>
    <div class="date-time">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="message-body">
    <div class="text">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>
