<div class="side-bar">
  <div class="side-bar-head">
    <div class="user-name">
      <%= link_to "#{current_user.name}", edit_user_path(current_user) %>
    </div>
    <div class="chat-create-btn">
      <%= link_to 'チャットを作成する' %>
    </div>
  </div>

  <div class="side-bar-body">
    <div class="room">
      <div class="room-name">
        <a href="#">Room1</a>
      </div>
    </div>
    <div class="room">
      <div class="room-name">
        <a href="#">Room2</a>
      </div>
    </div>
  </div>
</div>