.wrapper {
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* サイドバー */
.side-bar {
  width: 300px;
  height: 100%;
}

.side-bar-head {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #FAFAFA;
  font-size: 16px;
}

.chat-create-btn a {
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
}

.side-bar-body {
  background-color: #2F3E51;
  height: calc(100% - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
}

/* チャット画面 */
.main-chat {
  width: calc(100vw - 300px);
  height: 100%;
}

.main-chat-head {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.main-chat-body {
  background-color: #FAFAFA;
  height: calc(100% - 190px);
  padding: 46px 40px 0;
}

.main-chat-foot {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}